@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom Purple WebKit Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a855f7, #7e22ce);
  /* purple gradient */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #c084fc, #9333ea);
}